In [1]:
#Importing csv to read the csv file
import csv

In [2]:
#Reading the csv file
with open('bank_transactions.csv') as f:
    reader=csv.reader(f)
    data=list(reader)

In [3]:
#Presenting data in list form
data[slice(10)]

[['TransactionID',
  'CustomerID',
  'CustomerDOB',
  'CustGender',
  'CustLocation',
  'CustAccountBalance',
  'TransactionDate',
  'TransactionTime',
  'TransactionAmount (INR)'],
 ['T1',
  'C5841053',
  '10/1/94',
  'F',
  'JAMSHEDPUR',
  '17819.05',
  '2/8/16',
  '143207',
  '25'],
 ['T2',
  'C2142763',
  '4/4/57',
  'M',
  'JHAJJAR',
  '2270.69',
  '2/8/16',
  '141858',
  '27999'],
 ['T3',
  'C4417068',
  '26/11/96',
  'F',
  'MUMBAI',
  '17874.44',
  '2/8/16',
  '142712',
  '459'],
 ['T4',
  'C5342380',
  '14/9/73',
  'F',
  'MUMBAI',
  '866503.21',
  '2/8/16',
  '142714',
  '2060'],
 ['T5',
  'C9031234',
  '24/3/88',
  'F',
  'NAVI MUMBAI',
  '6714.43',
  '2/8/16',
  '181156',
  '1762.5'],
 ['T6',
  'C1536588',
  '8/10/72',
  'F',
  'ITANAGAR',
  '53609.2',
  '2/8/16',
  '173940',
  '676'],
 ['T7',
  'C7126560',
  '26/1/92',
  'F',
  'MUMBAI',
  '973.46',
  '2/8/16',
  '173806',
  '566'],
 ['T8',
  'C1220223',
  '27/1/82',
  'M',
  'MUMBAI',
  '95075.54',
  '2/8/16',
  '170537',
  '148'],
 ['T9',
  'C8536061',
  '19/4/88',
  'F',
  'GURGAON',
  '14906.96',
  '2/8/16',
  '192825',
  '833']]

In [4]:
#Importing SQLite3 and making connection between a variable conn and database to use it forward
import sqlite3
conn=sqlite3.connect('transactiondata.db')

In [5]:
#Assigning a function to a variaable to use it forward
cur=conn.cursor()

In [6]:
#Creating a table
cur.execute("CREATE TABLE Transactions(TransactionID, CustomerID, CustomerDOB, CustGender, CustLocation, CustAccountBalance, TransactionDate, TransactionTime, TransactionAmount)")

In [7]:
#Entering the data into the table
for row in data:
    cur.execute("INSERT INTO Transactions(TransactionID, CustomerID, CustomerDOB, CustGender, CustLocation, CustAccountBalance, TransactionDate, TransactionTime, TransactionAmount) VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?)", row)